fastapi==0.117.1
uvicorn==0.37.0
SQLAlchemy==2.0.52
alembic==1.7.7
APScheduler==3.11.0
cloudinary==1.46.2
python-dotenv==1.2.1
httpx==0.28.1
python-jose==3.3.0
passlib==1.7.4
bcrypt==3.2.0
psycopg[binary]==3.2.3
pydantic==2.13.5
email-validator
python-multipart
google-genai==2.23.0
argostranslate==1.11.0